@import "tailwindcss";



body {
  height:100%;
  width:100%;
  font-size: 14px;
}

.bg-button1{
  background: #111B47;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  color: #37447E;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform:capitalize;
  height:100%;
}

.top-menu {
  display: flex;
  align-items: center;
  height: 100%;
  color: #505F98;
  
}

.bg-header{
  height:135vh;
  display: flex;
  background-image: url("../../public/img/bg-header.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 10px;
  width:100%;
}

.bg-button{
   background: #111B47;
   text-align: center;
}

.button-text-color{
  color: #111B47;
}

.hero-title{
  color:#091133;
}

.hero-text{
  color:#505F98;
}

.section-icons{
  display: block;
  width:40px;
  height:40px;
  background: blue;
}

.section-icons-text{
  font-size: 13px;
  text-align: justify;
  color:#505F98;
}

.section-image{
  height:60%;
  display: flex;
  flex:1;

}

.section-height{
  height:300px;
  width:300px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.price-section{
  background-image: url("../assetes/img/bg-price.jpg");
   background-position: left right;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:500px;
}

.text-kit-color{
  color:#37447E;
}