@import "tailwindcss";



body {
  height:100%;
  width:100%;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;
}

h1{
  font-weight: 500;
}

p{
  font-weight: 300;
}
.bg-button1{
  background: #111B47;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.logo{
  color: #37447E;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform:capitalize;
  height:100%;
}

.top-menu {
  display: flex;
  align-items: center;
  height: 100%;
  color: #505F98;
  
}

.bg-header{
  height:135vh;
  display: flex;
  background-image: url("../../public/img/bg-header.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 10px;
  width:100%;
}

.bg-button{
   background: #111B47;
   text-align: center;
   border-radius: 3px;
}

.button-text-color{
  color: #111B47;
}

.hero-title{
  color:#091133;
}

.hero-text{
  color:#505F98;
}

.section-icons{
  display: flex;
  width:40px;
  height:40px;
  /* background: blue; */
  align-items: center;
  justify-content: center;
}

.section-icons-text{
  font-size: 13px;
  text-align: justify;
  color:#505F98;
}

.section-image{
  height:400px;
  display: flex;
  flex:1;
  width:300px;
  margin:0 5px;

}

.section-height{
  height:300px;
  width:300px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.price-section{
  background-image: url("../assetes/img/bg-price.jpg");
   background-position: left right;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:600px;
}

.text-kit-color{
  color:#37447E;
}

.footer-section{
  width:100%;
  background: #E7ECFF;
}

.footer-button{
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#111B47 ;
  color:#fff;
  text-align: center;
  padding: 3px 10px;
  font-weight: 300;
  font-size: 13px;
 
}

